body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #5b5c5e;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
}

.gallery {
  text-align: center;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px 0;
}

.photo-grid img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.2s;
}

.photo-grid img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #3a3b3b;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}























body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  position: relative;
}

.texto {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.texto.show {
  display: block;
  opacity: 1;
}

img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

